
/*************************************************************************
 *
 * Styles for the about page
 *
 *************************************************************************/

#map {
    height: 150px;
    width: 100%;
}

.fa small {
	padding-left: 30px;
}

.fa:before {
     margin-right: 18px;
     margin-bottom: -18px;
}

#about-body img {
    width: 100%;
}