#cart-list{
   margin-top: 48px;
}
#empty-cart {
    font-size: 1.6em;
   text-align: center;
   margin-top: 60%;
}

.cart-title {
	padding-top: 4px;
	padding-left: 10px;
	float: left;
	font-size: 18px;
	display: block;
}


.cart-price {
	margin-top: 4px;
	display: block;
	padding-left: 10px;
	float: left;
}

.remove-box {
	float:right;
}

.big-buttons {
	background-color: #efefef;
	display: block;
	height: 70px;
	margin-top: 34px;
}

.cart-img {
	height: 100%;
	padding-right: 4px;
	margin-left: -20px;
}

.cart-img-holder {
	float: left;
	overflow: hidden;
	height: 100%;
	width: 80px;
}


#cart-list li {
	padding: 0;
}

#cart-list li .menu-row {
	height: 140px;
}

.remove-box p, .quantity-box p {
	margin-bottom: 0;
	padding-bottom: 12px;
	margin-top: 6px;
	font-size: 12px;
}

#cart-footer {
	background-color: #ff6e40;
	position: absolute;
	bottom: 0;
	height: 60px;
	display: block;
	width: 100%;
}

#cart-view .km-scroll-container {
	min-height: 530px;
}

#cart-buttons {
	color: white;
	margin-top: 20px;
	list-style: none;
	padding-left: 16px;
}
#cart-buttons li {
	float: left;
	margin-right: 20px;
}

#total-text {
	margin-left: 100px;
	float: right;
}

#checkout {
	text-decoration: none;
}

.icon-minus:after {
	content: '\e812';
	font: 1.2em/1em"icon-font";
}

.icon-plus:after {
	content: '\e80b';
	font: 1.2em/1em"icon-font";
}

.icon-trash:before {
	content: '\e814';
	font: 1.2em/1em"icon-font";
}

.remove-box, .quantity-box {
	text-align: center;
	padding-top: 12px;
	float: right;
}

.remove-box {
	margin-right: 8px;
	padding-top: 22px;
}

.quantity-box {
	margin-left: 12px;
	float: left;
}

#checkout h2 {
	margin-top: 60px;
}

.qty {
	font-size: 24px;
	padding: 0 12px;
}
