#claim header .km-navbar {
    background-color: #4a332c;
    color: white;
}
#claim .km-content, #claim-simulator .km-content {
    background-color: #ff6e40;
    color: white;
    padding-top: 60px;
}

.km-cancel:before, .km-cancel:after {
     content: '\e807';
     color: #ff6e40;
 }

.right {
    float: right;
}

.claim-img {
	max-height: 90px;
	margin-right: 4px;
	margin-left: 4px;
}

.bottom-border {
	border-bottom: 1px solid white;
}
#claim p {
	margin-left: 48px;
}

#claim .waiver p {
	margin-left: 3px;
}

#claim .km-scroll-container {
	margin-top: -20px;
}
