#claim header .km-navbar {
    background-color: #4a332c;
    color: white;
}
#claim .km-content {
    background-color: #ff6e40;
    color: white;
    padding-top: 60px;
}

.km-cancel:before, .km-cancel:after {
     content: '\e807';
     color: #ff6e40;
 }
