.intro-screen .km-text {
	
    width: 100%;
    height: 100%;
    top: 0;
    display: block;
}

@media screen and (max-height: 548px) {

    .intro-screen .km-text {
        height: 548px !important;
    }
}
.intro-screen img {
	height: 100%;
	width: 100%;
}

.intro-screen a, .intro-screen div {
	padding: 0 !important;
	border: none !important;
	margin: 0 !important;
}

.intro-screen header {
	display: none;
}

.intro-page > img {
  width: 100%;
  height: 100%;
}

#intro .km-content.km-stretched-view {
  background-color: #5D4037;
}