.intro-page, 
#intro-scroller, 
#intro, 
#intro .km-scroll-container, 
#intro .km-content, 
#intro-3-touch {
    height:100%;
    width: 100%;
}

@media screen and (max-height: 548px) {
    .intro-page {
        height: 548px !important;
    }
}


#intro-1 {
    background: url(images/Intro-Screen-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#intro-2 {
    background: url(images/Intro-Screen-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#intro-3 {
    background: url(images/Intro-Screen-3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

