 @font-face {
     font-family: "icon-font";
     src: url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype");
 }
 .km-icon:after, .km-icon:before {
     font: 1em/1em"FontAwesome";
 }

html, body {
    width: 100%;
    height: 100%;
}
 /***********************************************************
 *
 * Individual Icons
 *
 ***********************************************************/
 .km-food:before, .km-food:after {
     content: '\f0f5';
 }
 .km-info:before, .km-info:after {
     content: '\f05a';
 }
 .km-picture:before, .km-picture:after {
     content: '\f03e';
 }
 .km-video:before, .km-video:after {
     content: '\f008';
 }
 .km-basket:before, .km-basket:after {
     content: '\f07a';
 }
 .km-award:before, .km-award:after {
     content: '\f091';
 }
 .km-pencil:before, .km-pencil:after {
     content: '\f040';
 }
 .km-phone-icon:before, .km-phone-icon:after {
     content: '\e802';
 }
 .km-location:before, .km-location:after {
     content: '\e80a';
 }
 .km-menu:before, .km-menu:after {
     content: '\f0c9';
 }

 .km-drawer-button:before, .km-drawer-button:after {
     content: "\f0c9";
 }


 /*************************************************************************
 *
 * Helper styles
 *
 *************************************************************************/
 .orange {
     color: #ff6e40 !important;
 }
 .full-width-list {
     padding: 0px;
 }
 .hidden {
     display: none;
 }
 .left {
     float: left;
 }

 /*************************************************************************
  *
  * Menubar stylings
  *
  ************************************************************************/
.km-navbar {
    background-color: rgba(93,64,55, 0.92) !important;
    position:absolute;
    color:white !important;
}

.km-flat .km-button {
    border: none;
    background: transparent;
}

.km-view-title {
    text-align: left;
    padding-left: 42px;
}

 /*************************************************************************
 *
 * Styles for the app drawer
 *
 *************************************************************************/
 #appDrawer .km-content {
    background-image: url(images/slideoutLogo_2x.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 95%;
    background-size: 70%;
 }
 #appDrawer .km-content, #editProfileDrawer .km-content {
    background-color: #5d4037;
 }
 #appDrawer ul {
    padding-left: 20px;
 }
 #appDrawer li {
    list-style: none;
    margin: 10px 0;
    font-weight: bold;
    background-color: transparent;
    box-shadow: none;
    border: 0px;
    line-height: 0em;
 }
 #appDrawer li a:after {
    box-shadow: none;
    content: none;
 }
 #appDrawer .km-icon, #appDrawer li a:before {
    margin-right: 18px;
 }
 #appDrawer hr {
    border-color: black;
 }
 #appDrawer li a {
    text-decoration: none;
    font-weight: normal;
    color: white;
 }
 #user-panel {
    background-color: #4a332c;
    height: 130px;
 }
 #user-panel img {
    width: 80px;
    height: 80px;
    padding: 8px;
    border-radius: 40px;
    margin-left: 24px;
 }
 #user-name {
    position: absolute;
    top: 50%;
    margin-left: 12px;
    margin-top: -34px;
    color: #a59996;
    font-weight: bold;
 }

#editProfileDrawer {
    background-color: #5d4037;
}

 #editProfileDrawer input {
    width: 92%;
    margin-left: 4%;
    height: 2.4em;
    border: 1px solid #ff6e40;
 }

 #editProfileDrawer label {
    margin-left: 4%;
    padding-top: 40px;
    padding-bottom: 6px;
    display: block;
    color: white;
 }

 #edit-link:before {
    font: 1em/1em"icon-font";
    content: '\e808';
 }

 #edit-buttons {
    list-style: none;
    padding: 12px;
 }

 #edit-buttons li {
    float: left;
    margin-right: 8px;
 }

 #edit-buttons li a {
    text-decoration: none;
 }

 #update-photo:before { 
    padding-right: 4px;
    content: '\e815'; 
    font: 1em/1em"icon-font";
} 

#remove-photo:before { 
    padding-right: 4px;
    content: '\e814'; 
    font: 1em/1em"icon-font";
}

#remove-photo {
    color: white;
}

#editProfileDrawer .km-content {
    clear:both;
    height: 76%
}

#editProfileDrawer .km-scroll-container {
    height: 100%;
}

#bottom-button-panel {
    bottom: 0;
    height: 66px;
    width: 100%;
    background-color: #ff6e40;
    margin: 0;
    padding-top: 20px;
}

#bottom-buttons {
  list-style: none;
  padding: 8px;
  margin: 0px;
}

#bottom-buttons li {
  float: left;
  width: 45%;
  
}

#bottom-buttons li a {
  text-decoration: none;
  color: white;
}

.cancel-li {
  text-align: right;
}

#update-profile {
  padding-left: 20px;
}

#cancel-profile {
  padding-left: 60px;
  opacity: 0.5;
}

#update-profile:before {
  font: 1em/1em"icon-font";
  margin-right: 8px;
  content: '\e816';
}

#cancel-profile:before {
  font: 1em/1em"icon-font";
  margin-right: 8px;
  content: '\e807';
}

#editProfileDrawer #side-header {
    height: 24%;
}
