/*************************************************************************
 *
 * Styles for the Menu List page
 *
 *************************************************************************/

#popular li, #favorites li, #categories li, #no-fav-msg {
    clear:both;
}
#popular .km-content, #favorites .km-content, #categories .km-content {
    padding-bottom: 48px;
}
.menu-row {
    clear: both;
    height: 80px;
}
.menu-row a {
    float: left;
}
.km-tabstrip {
    height: 20px;
}
.km-tabstrip a {
    background-color: white !important;
    color: black !important;
    height: 20px;
}

.km-th-large:before, .km-th-large:after {
    font: 1em/1em"icon-font";
    content: '\e803';
}

 .km-list-bullet:before, .km-list-bullet:after { 
    content: '\f0ca'; 
}

.icon-star, .icon-cart {
    font-size: 20px;
}

.icon-star:before {
    padding: 0 12px;
     font: 1.2em/1.2em"icon-font";
     content: '\e80e';
}
.icon-cart:after {
    font: 1.2em/1.2em"icon-font";
    content: '\e804';
}

.menu-buttons {
    float:right;
    margin-top: 50px;
}

#popular a, #favorites a, #categories a {
    text-decoration: none;
}

.menu-block{
    height: 100%;
}

.price {
    display: block;
    margin-top: 40px;
    margin-left: 90px;
    font-size: 9pt;
}
.title {
    margin-left:10px;
    font-size: 11pt;
}

.photo-menu-box {
    background-color: white;
    width: 99%;
    box-shadow: 0px 0px 23px 10px rgba(0,0,0,0.1);
}

.photo-menu-box img {
    width: 100%;
}

.photo-menu-box h4 {
    margin: 12px;
}

.photo-menu-box .menu-block {
    padding-bottom: 24px;
}

.photo-price {
    margin-left: 12px;
}

#menu-nav .km-button {
    font-size: 18px;
    border-bottom: 3px solid white;
}

#menu-nav .km-state-active {
    border-bottom: 3px solid #ff6e40;
}

#menu-nav span.km-icon {
    display: none;
}

.category-selectors .half {
    width: 50%;
    float: left;
}

.category-selectors input[type="checkbox"] {
    margin-top: 12px;
}

.menu-filter span{
    display: inline-block;
}

.km-flat .km-switch-handle, .km-flat .k-slider-selection, .km-flat .km-switch-background {
    color: #FF6E40;
}

.km-flat .category-selectors .km-list>li {
    border-style: none;
    border-width: 0 0 1px 0;
}

#empty-favorites {
    font-size: 1.6em;
   text-align: center;
   margin-top: 60%;
}