.top {
    background-color: #ff6e40 !important;
    color: white;
    margin-top: 48px;
    padding: 24px;
}

#prize {
    font-size:4em;
    padding-left: 24px;
    padding-bottom: 12px;
}

.amazon-card {
    width: 70%;
    margin: 24px 0;
    padding-left: 48px;
}
