<div data-role="view" data-show="app.MenuDetails.show" data-layout="main" data-model="app.MenuDetails">
	<header data-role="header">
      <div data-role="navbar">
        <span data-role="view-title" data-bind="html: item.title" data-icon="back-button"></span>
        <a data-role="backbutton" data-align="left"></a>
      </div>
    </header>
  <img data-bind="attr: { src: item.imgSrc }" />
  <div id="menu-details-box">
  <p data-bind="html: item.description"></p>
  <span class="price" data-bind="html: item.price" />
  </div>
</div>