
<div data-role="view" id="claim" data-title="Claim your prize" data-layout="main" data-model="app.Claim">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title" data-bind="html: title" data-icon="back-button"></span>
            <a data-role="backbutton" data-align="right" class="fa fa-close orange"></a>
        </div>
    </header>
    <div class="devic-message" data-bind="invisible: onSim">
        <div class="bottom-border">
            <p>
                <strong>Claiming your prize takes less than 2 minutes!</strong>
            </p>
            <div class="left">
                <h1>1</h1>
            </div>
            <p>In your IDE, open <strong>edit-profile.js</strong> and uncomment the code that uses the Cordova camera plugin(<strong>line:31</strong>)</p>
        </div>
        <div class="bottom-border">
            <img src="styles/images/threefingerclaim.png" class="right claim-img" />
            <div class="left">
                <h1>2</h1>
            </div>
            <p>Use a <strong>three-finger tap and hold</strong> to perform a LiveSync. This pushes code updates from the cloud to your device. It's like a refresh button for your mobile app!</p>
        </div>
        <div>

            <img src="styles/images/myprofileclaim.png" class="right claim-img" />
            <div class="left">
                <h1>3</h1>
            </div>
            <p>Go to "<strong>Edit my profile</strong>" and snap any picture as a placeholder for your 'profile photo'. Enter the email address you are using to access <strong>Telerik Platform</strong> and click "<strong>UPDATE</strong>" to claim your prize.</p>
        </div>
        <div class="waiver">
            <p>*If you are one of the first 1000 people to complete it, a
                <strong>$5 Amazon Gift Card</strong> will be emailed to you within 72 hours</p>
            <p><a href="http://www.telerik.com/campaigns/platform/run-hybrid-app/termsofuse">Rules and regulations</a>
            </p>
        </div>
    </div>

    <div class="simulator-message" data-bind="visible: onSim">
        <div class="bottom-border">
            <p>
                <strong>That was easy! To claim your prize let's get the app to your phone.</strong>
            </p>
            <p>
                <strong>It only takes about 30 seconds</strong>
            </p>
            <div class="left">
                <h1>1</h1>
            </div>
            <p>Download AppBuilder companion app from your device's app store (iTunes, Google Play, Windows Store).</p>
        </div>
        <div class="bottom-border">
            <div class="left">
                <h1>2</h1>
            </div>
            <p>In AppBuilder, select <strong>Run > Build</strong> for your device's platform (Android / iPhone / Windows Phone), choose <strong>"AppBuilder companion app"</strong> and click <strong>Next.</strong></p>
        </div>
        <div>
            <div class="left">
                <h1>3</h1>
            </div>
            <p>Scan the resulting QR Code with QR reader included in your AppBuilder companion app you’ve installed in step 1. It will automatically bring up this app via AppBuilder companion app.</p>
        </div>
    </div>
</div>


