<div data-role="view" id="claim" data-title="Claim your prize" data-layout="main" data-model="app.Claim">
  <header data-role="header">
      <div data-role="navbar">
        <span data-role="view-title" data-bind="html: title" data-icon="back-button"></span>
        <a data-role="backbutton" data-align="right"></a>
      </div>
    </header>
  	<div class="bottom-border">
  		<strong>Claiming your prize takes less than 2 minutes!</strong>
  		<div class="left"><h1>1</h1></div>
  		<p>In your IDE, oen somefile.js and uncomment ode that uses the Cordova camera plugin(<strong>line:xxx</strong>)</p>
  	</div>
  	<div class="bottom-border">
  		<div class="left"><h1>2</h1></div>
  		<p>Use a <strong>three-fingure tap</strong> to perform a LiveSync.  This pushes code updates from the cloud to your device.  It's like a refreshbutton for your mobile app!</p>
  	</div>
  	<div>
  		<div class="left"><h1>3</h1></div>
  		<p>Go to "<strong>Edit my profile</strong>" and snap any picture as a placeholder for your 'profile photo'. Enter the email address you are using to access <strong>Telerik Platform</strong> and click "<strong>UPDATE</strong>" to claim your prize.</p>
  	</div>
  	<div>
  		<p>*If you are one of the first 1000 people to complete it, a <strong>$5 Amazon Gift Certificate</strong> will be emailed to you within 24 hours</p>
  		<p><a href="#thanks">Rules and regulations</a></p>
  	</div>
  </div>
</div>