<div data-role="view" id="intro-1" class="intro-screen" data-title="intro" data-layout="main" data-model="app.Intro">
    <a data-role="button" href="#intro-2" data-transition="slide">
    	<img src="styles/images/intro-Screen-1.png" />
    </a>
</div>
<div data-role="view" id="intro-2" class="intro-screen" data-layout="main" data-model="app.Intro">
    <a data-role="button"  href="#intro-3" data-transition="slide">
    	<img src="styles/images/intro-Screen-2.png" />
    </a>
</div>
<div data-role="view" id="intro-3" class="intro-screen" data-layout="main" data-model="app.Intro">
    <a data-role="button" href="views/menu.html" data-transition="slide">
    	<img src="styles/images/intro-Screen-3.png" />
    </a>
</div>
