<div data-role="view" id="intro-1" class="intro-screen" data-model="app.Intro">
    <a data-role="button" href="#intro-2" data-transition="slide">
    	<img id="img1" src="styles/images/Intro-Screen-1.png" data-role="touch" data-enable-swipe="true" data-swipe="app.Intro.handleSwipe" />
    </a>
</div>
<div data-role="view" id="intro-2" class="intro-screen" data-stretch="true" data-model="app.Intro">
    <a data-role="button"  href="#intro-3" data-transition="slide">
    	<img id="img2" src="styles/images/Intro-Screen-2.png" data-role="touch" data-enable-swipe="true" data-swipe="app.Intro.handleSwipe" />
    </a>
</div>
<div data-role="view" id="intro-3" class="intro-screen" data-stretch="true" data-model="app.Intro">
    <a data-role="button" href="views/menu.html" data-transition="slide">
    	<img id="img3" src="styles/images/Intro-Screen-3.png" data-role="touch" data-enable-swipe="true" data-swipe="app.Intro.handleSwipe" />
    </a>
</div>

