<div data-role="view" data-model="app.Intro" data-show="app.Intro.onShow" id="intro">
    <div id="intro-scroller" data-role="scrollview" data-content-height="100%" data-enable-pager="false">
        <div id="intro-1" data-stretch="true" data-role="page" class="intro-page" >
            
        </div>
        <div id="intro-2" data-stretch="true" data-role="page" class="intro-page">
        </div>
        <div id="intro-3" data-stretch="true" data-role="page" class="intro-page">
            <div id="intro-3-touch" data-role="touch" data-bind="events: { tap: goToMenu }"></div>
        </div>
    </div>
</div>
