<div id="details" data-role="view" data-show="app.MenuDetails.show" data-model="app.MenuDetails">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title" data-bind="html: item.title"></span>
            <a data-role="backbutton" class="fa fa-chevron-left" data-align="left"></a>
        </div>
    </header>
    <img class="resimgs" data-bind="attr: { data-src: item.imgSrc }" />
    <div id="menu-details-box">
        <p data-bind="html: item.description"></p>
        <h4>$<span data-bind="html: item.price" /></h4>
        <ul class="details-buttons">
            <li class=""><span class="fa fa-shopping-cart"> </span><br /><span data-bind="html:item.qty"></span> in the cart</li>
            <li class=""><span class="fa fa-star-o"> </span><br />Faved</li>
            <li><span class="fa fa-share-square-o"> </span><br />Shared</li>
        </ul>
    </div>
</div>
