<div data-role="view" id="popular" data-title="Menu" data-layout="main" data-show="app.Menu.showMenuView" data-model="app.Menu">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="menu"></a>
            <a data-role="button" href="#" id="view-changer" data-bind="click: changeView, visible: inListView"  data-icon="th-large" data-align="right" ></a>
            <a data-role="button" href="#" id="view-changer" data-bind="click: changeView, invisible: inListView"  data-icon="list-bullet" data-align="right" ></a>
            <a data-role="button" class="orange" href="views/claim-your-prize.html" data-icon="award" data-align="right" data-transition="overlay:down"></a>
        </div>
    </header>
    <div class="menu-nav">
        <a href="#popular" class="active">Popular</a>
        <a href="#favorites" data-bind="click: showFavoriteView">Favorites</a>
        <a href="#categories" data-bind="click: showCategoryView">Categories</a>
    </div>
    <ul id="popular-list" data-role="listview"
            data-bind="source: dataSource, invisible: photoListVisible"
            data-template="menuTemplate">
    </ul>
    <ul id="popular-photo-list" data-role="listview"
            data-bind="source: dataSource, visible: photoListVisible"
            data-template="photoMenuTemplate">
    </ul>
</div>

<div data-role="view" id="favorites" data-title="Favorites" data-title="Menu" data-layout="main" data-model="app.Menu">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="menu"></a>
            <a data-role="button" href="#" id="view-changer" data-bind="click: changeView, visible: inListView"  data-icon="th-large" data-align="right" ></a>
            <a data-role="button" href="#" id="view-changer" data-bind="click: changeView, invisible: inListView"  data-icon="list-bullet" data-align="right" ></a>
            <a data-role="button" class="orange" href="views/claim-your-prize.html" data-icon="award" data-align="right" data-transition="overlay:down"></a>
        </div>
    </header>
    <div class="menu-nav">
        <a href="#popular"  data-bind="click: showMenuView">Popular</a>
        <a href="#favorites" class="active">Favorites</a>
        <a href="#categories" data-bind="click: showCategoryView">Categories</a>
    </div>
    <ul id="favorite-list" data-role="listview"
            data-bind="source: dataSource, visible: favoriteListVisible"
            data-template="menuTemplate">
    </ul>
    <ul id="favorite-photo-list" data-role="listview"
            data-bind="source: dataSource, visible: favoritePhotoListVisible"
            data-template="photoMenuTemplate">
    </ul>
    <p data-bind="visible: favoritesEmpty">Click the star to add favorites</p>
</div>

<div data-role="view" id="categories" data-title="Categories" data-layout="main" data-model="app.Menu">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="menu"></a>
            <a data-role="button" href="#" id="view-changer" data-bind="click: changeView, visible: inListView"  data-icon="th-large" data-align="right" ></a>
            <a data-role="button" href="#" id="view-changer" data-bind="click: changeView, invisible: inListView"  data-icon="list-bullet" data-align="right" ></a>
            <a data-role="button" class="orange" href="views/claim-your-prize.html" data-icon="award" data-align="right" data-transition="overlay:down"></a>
        </div>
    </header>
    
    <div class="menu-nav">
        <a href="#popular"  data-bind="click: showMenuView">Popular</a>
        <a href="#favorites" data-bind="click: showFavoriteView">Favorites</a>
        <a href="#categories" class="active">Categories</a>
    </div>
    <div class="category-selectors">
        <div class="half">
            <input type="checkbox" id="filter-barbecue" data-bind="events: { change: changeFilter }" checked/> Barbecue<br />
            <input type="checkbox" id="filter-sandwich" data-bind="events: { change: changeFilter }" checked /> Sandwiches<br />
        </div>
        <div class="half">
            <input type="checkbox" id="filter-drink" data-bind="events: { change: changeFilter }" checked /> Drinks<br />
            <input type="checkbox" id="filter-dessert" data-bind="events: { change: changeFilter }" checked /> Desserts<br />
        </div>
        <div class="full">
            <label for="sort">Sort</label>
            <select id="sort" data-bind="events: { change: changeSort }">
                <option value="asc">cheapest to most expensive</option>
                <option value="desc">most expensive to cheapest</option>
            </select>
        </div>
    </div>
    <ul id="category-list" data-role="listview"
            data-bind="source: dataSource, invisible: photoListVisible"
            data-template="menuTemplate">
    </ul>
    <ul id="category-photo-list" data-role="listview"
            data-bind="source: dataSource, visible: photoListVisible"
            data-template="photoMenuTemplate">
    </ul>
</div>

<script type="text/x-kendo-template" id="menuTemplate">
    <div class="row menu-row">
        <a href="\#views/menu-details.html?id=#= data.id #">
            <img width="80" height="80" class="menu-img" src="#: data.imgSrc #" />
         
        </a>   
            <div class="menu-buttons">
                #if (data.incart)  { #
                    <a href="\#" class="orange" data-bind="click: addToCart" >x<span class="icon-cart">#: data.qty # </span></a>
                # } else { #
                    <a href="\#" data-bind="click: addToCart" ><span class="icon-cart"> </span></a>
                # } #   
                #if (data.favorited)  { #
                    <a href="\#" data-bind="click: removeFromFavorites" ><span class="icon-star orange"></span></a>
                # } else { #
                    <a href="\#" data-bind="click: addToFavorites" ><span class="icon-star"></span></a>
                # } #
                
            </div>
            <div class="menu-block">
                <span class="title">#: data.title #</span><br />
                <span class="price">$#: data.price #</span>
            </div>
    </div>
</script>
<script type="text/x-kendo-template" id="photoMenuTemplate">
    <div class="row photo-menu-row">
        <div class="photo-menu-box">
            <a href="\#views/menu-details.html?id=#= data.id #">
                <img class="photo-img" src="#: data.imgSrc #" />
                
                <div class="menu-block">
                    <h4>#: data.title #</h4>
                    <div class="right">
                        #if (data.incart)  { #
                    <a href="\#" class="orange" data-bind="click: addToCart" >x<span class="icon-cart">#: data.qty # </span></a>
                # } else { #
                    <a href="\#" data-bind="click: addToCart" ><span class="icon-cart"> </span></a>
                # } #   
                #if (data.favorited)  { #
                    <a href="\#" data-bind="click: removeFromFavorites" ><span class="icon-star orange"></span></a>
                # } else { #
                    <a href="\#" data-bind="click: addToFavorites" ><span class="icon-star"></span></a>
                # } #
                    </div>
                    <span class="photo-price">$#: data.price #</span>
                </div>
            </a>
        </div>
    </div>
</script>