<div data-role="view" id="popular" data-title="Menu" data-layout="main" data-model="app.Menu">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="menu"></a>
            <a data-role="button" href="#" id="view-changer" data-bind="click: changeView, visible: inListView"  data-icon="th-large" data-align="right" ></a>
            <a data-role="button" href="#" id="view-changer" data-bind="click: changeView, invisible: inListView"  data-icon="list-bullet" data-align="right" ></a>
            <a data-role="button" href="views/claim-your-prize.html" data-icon="award" data-align="right" data-transition="overlay:down"></a>
        </div>
    </header>
    <div data-role="tabstrip">
        <a href="#popular" data-icon="none">Popular</a>
        <a href="#favorites" data-icon="none">Favorites</a>
        <a href="#categories" data-icon="none">Categories</a>
    </div>
    <ul id="popular-list" data-role="listview"
            data-bind="source: dataSource, invisible: photoListVisible"
            data-template="menuTemplate">
    </ul>
    <ul id="popular-photo-list" data-role="listview"
            data-bind="source: dataSource, visible: photoListVisible"
            data-template="photoMenuTemplate">
    </ul>
</div>

<div data-role="view" id="favorites" data-title="Favorites" data-title="Menu" data-layout="main" data-model="app.Menu">
<div data-role="tabstrip">
        <a href="#popular" data-icon="none">Popular</a>
        <a href="#favorites" data-icon="none">Favorites</a>
        <a href="#categories" data-icon="none">Categories</a>
    </div>
    <ul id="popular-list" data-role="listview"
            data-bind="source: favorites"
            data-template="menuTemplate">
    </ul>
</div>

<div data-role="view" id="categories" data-title="Categories" data-layout="main" data-model="app.Menu">
<div data-role="tabstrip">
        <a href="#popular" data-icon="none">Popular</a>
        <a href="#favorites" data-icon="none">Favorites</a>
        <a href="#categories" data-icon="none">Categories</a>
    </div>
</div>

<script type="text/x-kendo-template" id="menuTemplate">
    <div class="row menu-row">
        <a href="\#views/menu-details.html?id=#= data.id #">
            <img class="menu-img" src="#: data.imgSrc #" />
         
        </a>   
            <div class="menu-buttons">
                <a href="\#" data-bind="click: addToCart" ><span class="icon-cart"> </span></a>
                <a href="\#" data-bind="click: addToFavorites" ><span class="icon-star"></span></a>
            </div>
            <div class="menu-block">
                <span class="title">#: data.title #</span><br />
                <span class="price">$#: data.price #</span>
            <div>
    </div>
</script>
<script type="text/x-kendo-template" id="photoMenuTemplate">
    <div class="row photo-menu-row">
        <div class="photo-menu-box">
            <a href="\#views/menu-details.html?id=#= data.id #">
                <img class="photo-img" src="#: data.imgSrc #" />
                
                <div class="menu-block">
                    <h4>#: data.title #</h4>
                    <div class="right">
                        <a href="\#" data-bind="click: addToCart" ><span class="icon-cart orange"> </span></a>
                        <a href="\#" data-bind="click: addToFavorites" ><span class="icon-star orange"></span></a>
                    </div>
                    <span class="photo-price">$#: data.price #</span>
                <div>
            </a>
        </div>
    </div>
</script>