<div data-role="view" id="popular" data-title="Menu" data-layout="main" data-init="app.Menu.popularInit" data-show="app.Menu.showMenuView" data-model="app.Menu">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="menu"></a>
            <a data-role="button" href="#" id="view-changer" data-bind="click: changeView, visible: inListView"  data-icon="th-large" data-align="right" ></a>
            <a data-role="button" href="#" id="view-changer" data-bind="click: changeView, invisible: inListView"  data-icon="list-bullet" data-align="right" ></a>
            <a data-role="button" class="orange" href="views/claim-your-prize.html" data-icon="award" data-align="right" data-transition="overlay:down"></a>
        </div>
    </header>
    <div id="menu-nav" data-role="tabstrip" data-bind="events: { select: changeView }">
        <a data-target="popular">Popular</a>
        <a data-target="favorites">Favorites</a>
        <a data-target="categories">Categories</a>
    </div>    
    <div class="category-selectors" data-bind="visible: categoriesVisible">
        <div class="half">
            <input type="checkbox" id="filter-barbecue" data-bind="events: { change: changeFilter }" checked/> Barbecue<br />
            <input type="checkbox" id="filter-sandwich" data-bind="events: { change: changeFilter }" checked /> Sandwiches<br />
        </div>
        <div class="half">
            <input type="checkbox" id="filter-drink" data-bind="events: { change: changeFilter }" checked /> Drinks<br />
            <input type="checkbox" id="filter-dessert" data-bind="events: { change: changeFilter }" checked /> Desserts<br />
        </div>
        <div class="full">
            <label for="sort">Sort</label>
            <select id="sort" data-bind="events: { change: changeSort }">
                <option value="asc">cheapest to most expensive</option>
                <option value="desc">most expensive to cheapest</option>
            </select>
        </div>
    </div>
    <!-- <div id="popular" data-bind="visible: currentView.popular"> -->
    <ul id="popular-list" data-role="listview"
            data-bind="source:dataSource, invisible: photoListVisible"
            data-template="menuTemplate">
    </ul>
        <!-- <ul id="popular-photo-list" data-role="listview"
                data-bind="source: dataSource, visible: photoListVisible"
                data-template="photoMenuTemplate" data-auto-bind="false">
        </ul> -->
    <!-- </div> -->
    <!-- <div id="favorites" data-bind="visible: currentView.favorites"> -->
        <!-- <ul id="favorite-list" data-role="listview"
                data-bind="source: favoritesDataSource"
                data-template="menuTemplate">
        </ul>
        <ul id="favorite-photo-list" data-role="listview"
                data-bind="source: favoritesDataSource, visible: favoritePhotoListVisible"
                data-template="photoMenuTemplate" data-auto-bind-"false">
        </ul> -->
        <!-- <p id="no-fav-msg">Click the star to add favorites</p> -->
    <!-- </div> -->
    <!-- <div id="categories" data-bind="visible: currentView.categories"> -->
        <!-- <ul id="category-list" data-role="listview"
                data-bind="source: categoriesDataSource, invisible: photoListVisible"
                data-template="menuTemplate" data-auto-bind="true">
        </ul>
        <ul id="category-photo-list" data-role="listview"
                data-bind="source: categoriesDataSource, visible: photoListVisible"
                data-template="photoMenuTemplate" data-auto-bind="false">
        </ul> -->
    <!-- </div> -->
</div>
    

<script type="text/x-kendo-template" id="menuTemplate">
    <div class="row menu-row">
        <a href="\#views/menu-details.html?id=#= data.id #">
            <img width="80" height="80" class="resimgs" data-src="#: data.imgSrc #" />
         
        </a>   
            <div class="menu-buttons">
                 #if (data.incart)  { #
                    <span data-role="touch" data-bind="events: { tap: addToCart }" class="orange">x<span class="icon-cart">#: data.qty # </span></span>
                # } else { #
                    <span data-role="touch" data-bind="events: { tap: addToCart }"  ><span class="icon-cart"> </span></span>
                # } #   
                #if (data.favorited)  { #
                    <span data-role="touch" data-bind="events: { tap: removeFromFavorites }"><span class="icon-star orange"></span></span>
                # } else { #
                    <span data-role="touch" data-bind="events: { tap: addToFavorites }"><span class="icon-star"></span></span>
                # } #
                
            </div>
            <div class="menu-block">
                <span class="title">#: data.title #</span><br />
                <span class="price">#: kendo.toString(data.price, "c") #</span>
            </div>
    </div>
</script>
<script type="text/x-kendo-template" id="photoMenuTemplate">
    <div class="row photo-menu-row">
        <div class="photo-menu-box">
            <a href="\#views/menu-details.html?id=#= data.id #">
                <img class="photo-img resimgs" data-src="#: data.imgSrc #" />
                
                <div class="menu-block">
                    <h4>#: data.title #</h4>
                    <div class="right">
                 #if (data.incart)  { #
                    <span data-role="touch" data-bind="events: { tap: addToCart }" class="orange">x<span class="icon-cart">#: data.qty # </span></span>
                # } else { #
                    <span data-role="touch" data-bind="events: { tap: addToCart }"  ><span class="icon-cart"> </span></span>
                # } #   
                #if (data.favorited)  { #
                    <span data-role="touch" data-bind="events: { tap: removeFromFavorites }"><span class="icon-star orange"></span></span>
                # } else { #
                    <span data-role="touch" data-bind="events: { tap: addToFavorites }"><span class="icon-star"></span></span>
                # } #
                    </div>
                    <span class="photo-price">$#: data.price #</span>
                </div>
            </a>
        </div>
    </div>
</script>