<div data-role="view" id="thanks" data-title="Thank you" data-layout="main" data-model="app.Claim">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title" data-bind="html: title" data-icon="back-button"></span>
            <a data-role="backbutton" data-align="right" class="fa fa-close orange"></a>
        </div>
    </header>
    <div class="top">
        <p>
            <strong>Good job! You’ve deployed an app using the Telerik Platform.</strong>
        </p>
        <img class="amazon-card" src="styles/images/amazon_card.png" />
        <p>You will receive an email notification regarding your eligibility for the $5 Amazon.com Gift Card, within 72 hours.</p>
    </div>
    <div> 
        <div class="left">
            <span id="prize" class="fa fa-gift orange"></span>
        </div>
        <p>Want to continue exploring?  We've left a surprise for you in index.html on line 78. check it out</p>
    </div>
    
        
   
</div>