<div data-role="view" id="thanks" data-title="Thanks you" data-layout="main" data-model="app.Claim">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title" data-bind="html: title" data-icon="back-button"></span>
            <a data-role="backbutton" data-align="right" class="fa fa-close orange"></a>
        </div>
    </header>
    <div class="top">
        <p>
            <strong>Good job! You've just deployed an app in less than 5 min!</strong>
        </p>
        <img class="amazon-card" src="styles/images/amazon_card.png" />
        <p>Your $5 Amazon Gift Certificate is on the way to the email address you used to access Telerik Platform.</p>
    </div>
    <div> 
        <div class="left">
            <span id="prize" class="fa fa-gift orange"></span>
        </div>
        <p>Want to continue exploring?  We've left a surprise for you in index.html on line xxx. check it out</p>
    </div>
    
        
   
</div>