<div data-role="view" data-title="Videos" data-layout="main" data-model="app.Videos">
  <ul class="full-width-list"
            data-bind="source: dataSource"
            data-template="videoTemplate">
    </ul>
</div>

<script type="text/x-kendo-template" id="videoTemplate">
	<div class="row photo-row">
		<div class="main-img-crop">
			<iframe width="320" height="180" src="http://www.youtube.com/embed/#: data.src #?rel=0" frameborder="0" allowfullscreen></iframe>
			
		</div>
		<div class="author-block">
			<img src="styles/images/videoprofile.png" alt="#: data.description #" />
	  		<span>by #: data.description #</span>
	</div>
</script>