<div data-role="view" data-title="Videos" data-layout="main" data-model="app.Videos">
  <ul class="full-width-list"
            data-bind="source: dataSource"
            data-template="videoTemplate">
    </ul>
</div>

<script type="text/x-kendo-template" id="videoTemplate">
	<div class="row photo-row">
		<div class="main-img-crop">
			<iframe data-bind="{attr: {width: playerWidth}}" height="180" src="#: data.url #" frameborder="0" allowfullscreen></iframe>
			
		</div>
		<div class="author-block">
			<img src="styles/images/videoprofile.png" alt="#: data.description #" />
	  		<span>by #: data.description #</span>
	  	</div>
	</div>
</script>