/*************************************************************************
 *
 * Styles for the Menu List page
 *
 *************************************************************************/
.menu-row {
	clear: both;
	border-bottom: 1px solid #ccc;
	height:80px;
}
.menu-img {
	float: left;
	height: 80px;
	width: 80px;
}

.menu-row .title {
	
}

.menu-row .price {
	
}
